* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}


.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e4e4e4;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: rgb(42, 20, 241) !;
    color: #ffffff;
}

.search-container {
   text-align: center;
}

.search-button {
    background-color: rgb(54, 94, 187);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.search-button:hover{
    background-color: rgb(75, 110, 187);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#search-result {
    background-color: rgba(246, 246, 246, 0.993);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#jobContainer{
    background-color: white;
    text-align: left;
    margin:5px 300px;
    padding:10px;
    border: solid rgb(200, 200, 200) 1px;
    border-radius: 8px;
}

#title{
    text-align: center;
}

a{
    color: black;
    
}

a:link{
    /* text-decoration: none;
    background-color:blue ;
    padding:50px 70px; */
    background-color: #aacbff;
    padding: 0.5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    text-decoration: underline;
    background-color: #4d8cf0;
    color: rgb(255, 255, 255);
}

